forcha/tests/examples/mnist_lsaa/col_values_debug_exlsaa.csv
forcha/tests/examples/mnist_lsaa/col_values_debug_loo.csv
forcha/tests/examples/mnist_lsaa/col_values_debug_lsaa.csv
forcha/tests/examples/mnist_lsaa/MNIST_3_dataset
forcha/tests/examples/mnist_lsaa/MNIST_3_dataset_blueprint.csv
forcha/tests/examples/mnist_lsaa/noise_of_node_0.pdf
forcha/tests/examples/mnist_lsaa/noise_of_node_5.pdf
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_08_06/models/orchestrator/node_orchestrator_iteration_0.pt
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_08_06/models/orchestrator/node_orchestrator_iteration_1.pt
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_08_06/models/orchestrator/node_orchestrator_iteration_2.pt
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_08_06/models/orchestrator/node_orchestrator_iteration_3.pt
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_08_06/models/orchestrator/node_orchestrator_iteration_4.pt
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_08_06/results/exlsaa.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_08_06/results/central_on_local_results.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_39_12/results/psi.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_58_24/models/orchestrator/node_orchestrator_iteration_0.pt
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_58_24/models/orchestrator/node_orchestrator_iteration_1.pt
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_58_24/models/orchestrator/node_orchestrator_iteration_2.pt
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_58_24/models/orchestrator/node_orchestrator_iteration_3.pt
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_58_24/models/orchestrator/node_orchestrator_iteration_4.pt
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_58_24/results/central_on_local_results.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_58_24/results/exlsaa.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_58_24/results/lsaa.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_58_24/results/orchestrator_results.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_58_24/results/partial_exlsaa.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_58_24/results/partial_lsaa.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_58_24/results/partial_psi.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_58_24/results/psi.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__17_38_21/models/orchestrator/node_orchestrator_iteration_0.pt
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__17_38_21/models/orchestrator/node_orchestrator_iteration_1.pt
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__17_38_21/models/orchestrator/node_orchestrator_iteration_2.pt
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__17_38_21/models/orchestrator/node_orchestrator_iteration_3.pt
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__17_38_21/models/orchestrator/node_orchestrator_iteration_4.pt
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__17_38_21/results/central_on_local_results.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__17_38_21/results/exlsaa.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__17_38_21/results/lsaa.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__17_38_21/results/orchestrator_results.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__17_38_21/results/partial_exlsaa.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__17_38_21/results/partial_lsaa.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__17_38_21/results/partial_psi.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__17_38_21/results/psi.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_08_06/results/lsaa.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_08_06/results/orchestrator_results.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_08_06/results/partial_exlsaa.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_08_06/results/partial_lsaa.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_08_06/results/partial_psi.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_08_06/results/psi.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_22_37/models/orchestrator/node_orchestrator_iteration_0.pt
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_22_37/models/orchestrator/node_orchestrator_iteration_1.pt
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_22_37/models/orchestrator/node_orchestrator_iteration_2.pt
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_22_37/models/orchestrator/node_orchestrator_iteration_3.pt
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_22_37/models/orchestrator/node_orchestrator_iteration_4.pt
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_22_37/results/central_on_local_results.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_22_37/results/exlsaa.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_22_37/results/lsaa.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_22_37/results/orchestrator_results.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_22_37/results/partial_exlsaa.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_22_37/results/partial_lsaa.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_22_37/results/partial_psi.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_22_37/results/psi.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_39_12/models/orchestrator/node_orchestrator_iteration_0.pt
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_39_12/models/orchestrator/node_orchestrator_iteration_1.pt
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_39_12/models/orchestrator/node_orchestrator_iteration_2.pt
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_39_12/models/orchestrator/node_orchestrator_iteration_3.pt
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_39_12/models/orchestrator/node_orchestrator_iteration_4.pt
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_39_12/results/central_on_local_results.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_39_12/results/exlsaa.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_39_12/results/lsaa.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_39_12/results/orchestrator_results.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_39_12/results/partial_exlsaa.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_39_12/results/partial_lsaa.csv
forcha/tests/examples/mnist_lsaa/archiver_from_08_24_2023__16_39_12/results/partial_psi.csv
forcha/tests/examples/mnist_lsaa/archiver_from_09_03_2023__12_43_07/results/adlsaa.csv
forcha/tests/examples/mnist_lsaa/col_values_debug_adlsaa.csv
forcha/tests/examples/mnist_lsaa/archiver_from_09_03_2023__12_43_07/results/exlsaa.csv
forcha/tests/examples/mnist_lsaa/archiver_from_09_03_2023__12_43_07/results/central_on_local_results.csv
forcha/tests/examples/mnist_lsaa/archiver_from_09_03_2023__12_43_07/results/lsaa.csv
forcha/tests/examples/mnist_lsaa/archiver_from_09_03_2023__12_43_07/results/orchestrator_results.csv
forcha/tests/examples/mnist_lsaa/archiver_from_09_03_2023__12_43_07/results/partial_adlsaa.csv
forcha/tests/examples/mnist_lsaa/archiver_from_09_03_2023__12_43_07/results/partial_exlsaa.csv
forcha/tests/examples/mnist_lsaa/archiver_from_09_03_2023__12_43_07/results/partial_lsaa.csv
forcha/tests/examples/mnist_lsaa/archiver_from_09_03_2023__12_43_07/results/partial_psi.csv
forcha/tests/examples/mnist_lsaa/archiver_from_09_03_2023__12_43_07/results/psi.csv
forcha/tests/examples/adjust_lsaa/MNIST_3_dataset
forcha/tests/examples/mnist_fedopt/MNIST_3_dataset
forcha/poetry.lock
forcha/poetry.lock
